/* FUENTES */
@font-face {
  font-family: Mortend;
  src: url(/fonts/mortend/Mortend-Bold.ttf);
}

@font-face {
  font-family: Helvetica;
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/helvetica/Helvetica-Light.ttf);
}

@font-face {
  font-family: Helvetica;
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/helvetica/Helvetica-Regular.ttf);
}

@font-face {
  font-family: Helvetica;
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/helvetica/Helvetica-Bold.ttf);
}

/* COLORES */
.bg-main {
  background-color: #FAFAFA;
}

/* PRIMARIES */
.bg-primario-1 {
  background-color: #34040D;
}

.bg-primario-2 {
  background-color: #6D091B;
}

.bg-primario-3 {
  background-color: #A80D2A;
}

.bg-primario-4 {
  background-color: #FF1541;
}

.text-primario-1 {
  color: #34040D;
}

.text-primario-2 {
  color: #6D091B;
}

.text-primario-3 {
  color: #A80D2A;
}

.text-primario-4 {
  color: #FF1541;
}

/* SECONDARIES */
.bg-secundario-1 {
  background-color: #161C2D;
}

.bg-secundario-2 {
  background-color: #163164;
}

.text-secundario-1 {
  color: #161C2D;
}

.text-secundario-2 {
  color: #163164;
}

/* ACCENTS */
.bg-accent-1 {
  background-color: #EEF5FF;
}

.bg-accent-2 {
  background-color: #8E98AD;
}

.bg-accent-3 {
  background-color: #A6ADBB;
}

.bg-accent-4 {
  background-color: #DCDDE0;
}

.text-accent-1 {
  color: #EEF5FF;
}

.text-accent-2 {
  color: #8E98AD;
}

.text-accent-3 {
  color: #A6ADBB;
}

.text-accent-4 {
  color: #DCDDE0;
}


/* GRADIENTS */
.bg-gradient-1 {
  /* set gradient from top to bottom */

  background: linear-gradient(90deg, #110533 12.14%, #7D253E 91.12%);

}

/* TEXTOS */
.helvetica {
  font-family: 'Helvetica', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mortend', sans-serif;
  margin: 0px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.999rem;
}

h3 {
  font-size: 2.333rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.666rem;
}

h6 {
  font-size: 1.166rem;
}

/* ANIMACIONES */
.zoom {
  transition: transform 0.3s;
}

.zoom:hover {
  transform: scale(1.05);
}

.seccion {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;

}

.seccion-cabecera {
  position: relative;
  height: 250px;
  width: 100%;
  overflow: hidden;
  display: flex;
  /* padding-left: 200px; */
  /* padding-left: calc(50vw - 750px); */
  padding-left: clamp(100px, calc(50vw - 750px), 250px);
}

.seccion-cabecera img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: -220px;
  left: calc(50% - 50vw);
  opacity: 0.2;
  /* Adjust the opacity as needed */
}

/* .macamedia {
  background: none;
  transform: ease 1s;
}

.macamedia:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #4ce07d 50%, #4ce07d 100%);
} */

.bio-img {
  animation: fade-in-right linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 700px;
}

.ficha_tecnica-img {
  animation: fade-in-left linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 700px;
}



@keyframes fade-in-right {
  from {
    opacity: 0;
    right: -250px;
  }

  to {
    opacity: 1;
    right: 0px;
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    left: -250px;
  }

  to {
    opacity: 1;
    left: 0px;
  }
}